.navbar {
    background-color: steelblue;
    padding: 0.5rem 1rem;
    /*min-height: 0.4rem;*/
}

.navbar-item-box {
    margin: 0 auto;
    display: flex;
    box-sizing: border-box;
    list-style: none;
    flex-direction: row;
    padding: 0;
}

.navbar-item {
    display: block;
    padding: 10px;
    float: left;
}

#callout {
    text-align: center;
    padding-top: 1rem;
}